<site:view id="117" files="SL.Index.css" />
<div>   
    <header>
        <h2 class="h3-r">@_local["Header"]</h2>
    </header>
    <div class="text-wrap">
        @Html.Raw(_local["Info"])
        <br />
        <div class="link-wrap">
            <a href="mailto:stein@sltech.no" class="font-22 a-clean" title="@_local["SendEmail", true]"><icon awesome="Envelope" />@_local["SendEmail", true]</a>
            <a href="/FILE/Stein_Lundbeck_CV.pdf" class="font-22 a-clean mrg-lg-left" title="@_local["DownloadCV"]"><icon awesome="DocPDF" />@_local["DownloadCV"]</a>
        </div>
        <div class="solutions-wrap pad-lg align-center">
            <a href="https://kaurhudklinikk.no/" target="_blank" title="Kaur Hudklinikk">Kaur Hudklinikk</a>
            <span class="separator">|</span>
            <a href="https://github.com/SteinLundbeckTech/Creator" target="_blank" title="Creator framework">Creator framework</a>
            <span class="separator">|</span>
            <a href="http://bohem63.com" target="_blank" title="Line Eldor">Line Eldor</a>
            <span class="separator">|</span>
            <a href="http://barehyggelig.com" target="_blank" title="Bare hyggelig">Bare hyggelig</a>
            <span class="separator">|</span>
            <a href="https://blog.sltech.no" target="_blank" title="Stein Lundbeck Tech Blog"><icon awesome="Globe" />Tech blog</a>
            <span class="separator">|</span>
            <a href="https://github.com/SteinLundbeckTech?tab=repositories" target="_blank" title="Github"><icon awesome="GitHub" />Github</a>
            <p class="source-wrap">
                <a href="https://github.com/SteinLundbeckTech/SL.Home.Happy" target="_blank" class="source-code-link a-clean" title="@_local["SourceCodeToSite"]">@_local["SourceCodeToSite"]&nbsp;<span class="symbol"><icon awesome="Code" /></span></a>
            </p>
        </div>
        <div class="social-wrap pad-md flex-center-center">
            <a href="https://www.facebook.com/SteinLundbeckTech" target="_blank" title="Facebook"><icon awesome="FacebookLogoSquare" /></a>
            <span class="separator">|</span>
            <a href="https://www.linkedin.com/in/stein-lundbeck/" target="_blank" title="LinkedIn"><icon awesome="LinkedInLogoSquare" /></a>
            <span class="separator">|</span>
            <a href="https://www.instagram.com/steinlundbecktech/" target="_blank" title="Instagram"><icon awesome="InstagramSquare" /></a>
        </div>
    </div>
</div>
